<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <listener>
        <listener-class>utils.SessionTimeoutListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>controller.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>controller.Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterInfor</servlet-name>
        <servlet-class>controller.RegisterInfor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>controller.History</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeFirstName</servlet-name>
        <servlet-class>controller.ChangeInformation.ChangeFirstName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeUserInformation</servlet-name>
        <servlet-class>controller.ChangeUserInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Scan</servlet-name>
        <servlet-class>controller.Scan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recommend</servlet-name>
        <servlet-class>controller.Recommend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseNewSpot</servlet-name>
        <servlet-class>controller.ChooseNewSpot</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BackToHome</servlet-name>
        <servlet-class>controller.BackToHome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveAddVehecleModal</servlet-name>
        <servlet-class>controller.ActiveAddVehecleModal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehileToDatabase</servlet-name>
        <servlet-class>controller.AddVehileToDatabase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterInfor</servlet-name>
        <url-pattern>/registerInfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeFirstName</servlet-name>
        <url-pattern>/ChangeFirstName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeUserInformation</servlet-name>
        <url-pattern>/ChangeUserInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Scan</servlet-name>
        <url-pattern>/scan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recommend</servlet-name>
        <url-pattern>/recommend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseNewSpot</servlet-name>
        <url-pattern>/ChooseNewSpot</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BackToHome</servlet-name>
        <url-pattern>/BackToHome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveAddVehecleModal</servlet-name>
        <url-pattern>/ActiveAddVehecleModal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehileToDatabase</servlet-name>
        <url-pattern>/AddVehileToDatabase</url-pattern>
    </servlet-mapping>
</web-app>
